@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');/* font-family: "Plus Jakarta Sans", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/* font-family: "Bebas Neue", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/* font-family: "Bebas Neue", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');/* font-family: "Over the Rainbow", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Aeonik:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://db.onlinewebfonts.com/c/8f2a9d487bbbc60974cd132fc3a63862?family=Aeonik+Regular);
@import url('https://fonts.cdnfonts.com/css/geist-knt');

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  transition: 250ms back-out;
  /* font-family: "Poppins", sans-serif; */
  font-family: Aeonik Regular;
  -webkit-tap-highlight-color: transparent; /* For webkit-based browsers like Chrome and Safari */
  /* transition: 500ms ease; */
}
a{
  text-decoration: none;
}
button{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;      
}
input{
 font-family: "Poppins", sans-serif; 
 border: 1px solid silver;
 outline: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
ul{
  list-style-type: none;
}
.full{
  width: 100%;
  height: 100%;
}
.al-c{
  display: flex;
  align-items: center;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.spBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spEven{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.spArd{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.scrollable{
  overflow-y: scroll !important;
}
.trans::-webkit-scrollbar {
  display: none;
  width: 0.5vw;               
  height: 10vh;               
  border-radius: 10px;    
  padding-right: 0 2vw;  
}
.scrollable::-webkit-scrollbar {
  width: 0.5vw;               
  height: 10vh;               
  border-radius: 10px;    
  padding-right: 0 2vw;  
  display: none;
}
.trans::-webkit-scrollbar-track {
  background: transparent;        
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;        
}
.scrollable::-webkit-scrollbar-thumb.priBlue{
  background-color: rgba(18, 106, 135, 1) !important;
  color: rgba(18, 106, 135, 1);
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #333;    
  border-radius: 20px;      
  border: 3px solid #333;  
}
.trans.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;    
  border-radius: 20px;      
  border: 3px solid transparent;  
}
.trans::-webkit-scrollbar-thumb {
  background-color: transparent;    
  border-radius: 20px;      
  border: 3px solid transparent;  
}

.borderR{
  border: 2px solid red;
}
.borderB{
  border: 2px solid black;
}
.borderG{
  border: 2px solid green;
}





@keyframes motionSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
